.hero {
  width: 100%;
  position: relative;
}

.hero figure {
  width: 100%;
  height: fit-content;
  position: relative;
}

.hero figure::before {
  content: "";
  width: 100%;
  height: 85vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero figure img {
  width: 100%;
  height: 85vh;
}

.hero blockquote {
  width: 60%;
  position: absolute;
  top: 10%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 3;
}

.hero blockquote b {
  font-size: 2rem;
  color: white;
}

.hero blockquote h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
  font-weight: 800;
}

.hero blockquote h2 {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.hero blockquote button {
  border: 1px solid black;
  background-color: gray;
  color: white;
  font-size: 1.3rem;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (max-width: 1368px) {
  .hero blockquote {
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 480px) {
  .hero figure img {
    height: 30vh;
  }

  .hero figure::before {
    height: 30vh;
  }

  .hero blockquote h1 {
    font-size: 1rem;
    font-weight: 600;
  }

  .hero blockquote h2 {
    font-size: 1rem;
  }

  .hero blockquote b {
    font-size: 1rem;
  }

  .hero blockquote {
    width: 95%;
    gap: 3px;
    top: 0;
    left: 2.5%;
    right: 2.5%;
  }

  .hero blockquote button {
    padding: 3px 2.5rem;
    font-size: 1rem;
  }
}
