.vision {
  display: flex;
  width: 70%;
  margin: 3rem auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transform: translateX(1920px);
}

.vision h1 {
  font-size: 3rem;
  font-weight: 800;
}

.vision div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  margin: 2rem 0;
}

.vision h2{
  text-align:center;
}

.vision div aside {
  border: 2px solid gray;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  transform: skew(75deg);
}

.vision div aside ul {
  width: 100%;
  text-align: left;
}

.vision div aside:hover {
  background-color: gray;
  color: white;
}

@media (max-width: 480px) {
  .vision {
    width: 90%;
    transform: none;
    margin:1rem auto;
  }

  .vision div {
    grid-template-columns: 1fr;
    margin:1rem 0;
  }

  .vision div aside {
    transform: none;
  }

  .vision h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
