.aboutUs {
  width: 100%;
}

.aboutUs div {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.aboutUs div h2 {
  margin-top: 1rem;
}

.aboutUs div h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 auto 1rem auto;
}

.contactUsinAboutUs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contactUsinAboutUs li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contactUsinAboutUs li a {
  text-decoration: none;
  color: black;
}

.contactUsinAboutUs li a:hover {
  text-decoration: underline;
  color: darkblue;
}

.contactUsinAboutUs li i {
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .aboutUs div {
    width: 95%;
  }
  .aboutUs div h1 {
    font-size: 1.5rem;
  }
}
